body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;

  * {
    font-family: 'black', system-ui;
  }

}
.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;

}
.overlay_form {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.form {
  position: absolute;
  top: 50px;
  border-radius: 10px;
  border: 3px solid deeppink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: pink;
  z-index: 5;

  span {
    font-size: 13px;
    color: red;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0;
  }

  h2 {
    font-size: 40px;
    color: crimson;
    margin: 0;
    padding: 0;
  }


  input {
    width: 180px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid deeppink;
    margin-top: 20px;
  }

  button {
    width: 100px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid deeppink ;
    margin-top: 20px;
    font-size: 16px;
    color: crimson ;
    padding: 0;
    cursor: pointer;
  }
}

.contacts {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
  .contacts_content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 140px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
    z-index: 3;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;

    span {

      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;


      h2 {
      color: crimson;
    }

      img {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }



  }
}


.completion {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 140px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  z-index: 3;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-content: center;
  align-items: center;

  span {

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;


    h2 {
      color: crimson;
    }
    b {
      color: darkgray;
      cursor: pointer;
    }

  }
  ul {
    color: crimson;
    li{
      cursor: pointer;
    }

  }
}

header {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 40px;
  border-bottom: 2px solid #EAEAEA;
  opacity: 0.8;

  .headerLeft {
    display: flex;
    align-items: center;
  }

  .logo {
    margin: 0 15px;
  }

  h3,
  p {
    margin: 0;
  }

  .headerRight {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      padding-right: 20px;
      cursor: pointer;
      color: darkgray;
    }
  }
}
.content {
  padding: 40px;
}


.content-title {
  display: flex;
  justify-content: space-between;

}

.content {

  h1 {
    margin: 0 0 40px;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 13px;
  }
    input {
      border: 0;
      padding: 10px;
      font-size: 15px;
      width: 200px;
    }

  }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
  .drawer {
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;

    .items {
      overflow: auto;
      height: 370px;
    }
    h2 {
      margin: 0;
      display: flex;
      justify-content: space-between;
      img {
        cursor: pointer;
      }
    }
  }

  .cartItem {
    display: flex;
    align-content: center;
    margin-top: 20px;

    p {
      font-size: 16px;
      margin: 15px;
    }
    b {
      font-size: 16px;
      margin: 50px;
    }
    button {
      display: flex;
      justify-content: center;
      position: relative;
      width: 20px;
      height: 20px;

      img {
      position: absolute;
        bottom: 0.5px;

    }
    }
  }

  .cartTotalBlock {
        padding: 0;
        div {
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #dfdfdf;
        }

        li {
           display: flex;
           justify-content: space-between;
        }
      button {
        width: 100%;
        height: 55px;
        left: 895px;
        top: 974px;
        background:hotpink;
        border-radius: 18px;
        border: 0;
        color: #ffffff;
        font-size: 16px;
        margin-top: 15px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
          background: lightpink;
        }
      }


      }




